@page "/{GameId?}"
@inject NavigationManager Navigation
@inject ProtectedSessionStorage ProtectedSessionStore

@if (UserState.username is not null)
{
	<h1>Hello @UserState.username</h1>
}
@if (GameId is not null)
{
	<h1>@GameId</h1>
}

<CascadingValue Value="@hubConnection">
	<Chat Messages="@messages"></Chat>
	<Chess></Chess>
</CascadingValue>

@if (UserState.username is null)
{
	<div class="Login">
		<div class="LoginCard">
			<h2>Enter Your Name</h2>
			<input @bind="usernameInput" @bind:event="oninput" @onkeydown="@Enter" />
			<button @onclick="@SetUsername">Submit</button>
		</div>
	</div>
}


@code {
	[CascadingParameter]
	private UserStateProvider UserState {get; set;}
	[Parameter]
	public string? GameId {get; set;}
	private HubConnection? hubConnection;
	private List<Tuple<string, string>> messages = new List<Tuple<string, string>>();
	private string? usernameInput;
	protected override async Task OnInitializedAsync()
	{
		hubConnection = new HubConnectionBuilder()
			.WithUrl(Navigation.ToAbsoluteUri("/ChessHub"))
			.Build();

		hubConnection.On<string, string>("ReceiveMessage", (username, message) =>
		{
			messages.Add(Tuple.Create(username, message));
			InvokeAsync(StateHasChanged);
		});

		await hubConnection.StartAsync();

	}

	private async Task Enter(KeyboardEventArgs e)
	{
		if (e.Code == "Enter" || e.Code == "NumpadEnter")
		{
			await SetUsername();
		}
	}

	private async Task SetUsername()
	{
		if (usernameInput != null)
		{
			UserState.username = usernameInput;
			await UserState.SaveChangesAsync();
		}
	}
}