@page "/{GameId?}"
@inject NavigationManager Navigation
@inject ProtectedSessionStorage ProtectedSessionStore

@if (UserState.username is not null)
{
	<h1>Hello @UserState.username</h1>
}
@if (GameId is not null)
{
	<h1>@GameId</h1>
}
@if (errorMessage is not null)
{
	<h3 style="color: red">@errorMessage</h3>
}
<CascadingValue Value="@GameState">
	<CascadingValue Value="@GameId">
		<CascadingValue Value="@hubConnection">
			<Chat Messages="@messages"></Chat>
			<Chess></Chess>
		</CascadingValue>
	</CascadingValue>
</CascadingValue>

@if (UserState.username is null)
{
	<div class="Login">
		<div class="LoginCard">
			<h2>Enter Your Name</h2>
			<input @bind="usernameInput" @bind:event="oninput" @onkeydown="@Enter" />
			<button @onclick="@SetUsername">Submit</button>
		</div>
	</div>
}


@code {
	[CascadingParameter]
	private UserStateProvider UserState {get; set;}
	[Parameter]
	public string? GameId {get; set;}
	private HubConnection? hubConnection;
	private List<Tuple<string, string>> messages = new List<Tuple<string, string>>();
	private string? usernameInput;
	private string? errorMessage;
	public Game? GameState = new Game();
	protected override async Task OnInitializedAsync()
	{
		hubConnection = new HubConnectionBuilder()
			.WithUrl(Navigation.ToAbsoluteUri("/ChessHub"))
			.Build();

		hubConnection.On<string, string>("ReceiveMessage", (username, message) =>
		{
			messages.Add(Tuple.Create(username, message));
			InvokeAsync(StateHasChanged);
		});
		hubConnection.On<string>("ReceiveErrorMessage", (message) =>
		{
			errorMessage = message;
			InvokeAsync(StateHasChanged);
		});
		hubConnection.On<string>("InitializeGame", (whiteConnectionId) =>
		{
			GameState = new Game();
			if (hubConnection.ConnectionId == whiteConnectionId)
			{
				GameState.PlayerIsWhite = true;
			}
			else
			{
				GameState.PlayerIsWhite = false;
			}
		});
		hubConnection.On<Move>("ReceiveGameUpdate", (move) =>
		{
		});

		await hubConnection.StartAsync();

		if (GameId is not null)
		{
			await hubConnection.SendAsync("AddToGroup", GameId);
		}

	}

	private async Task Enter(KeyboardEventArgs e)
	{
		if (e.Code == "Enter" || e.Code == "NumpadEnter")
		{
			await SetUsername();
		}
	}

	private async Task SetUsername()
	{
		if (usernameInput != null)
		{
			UserState.username = usernameInput;
			await UserState.SaveChangesAsync();
		}
	}
}